@charset "UTF-8";
*{
  /* border:1px solid #e11710; */
}
@font-face {
    font-family: "Inter";
    font-display:swap;
    src: url(../fonts/Inter-VariableFont_opsz_wght.woff2);
}

@font-face {
    font-family: "Inter Italic";
    font-display:swap;
    src: url(../fonts/Inter-Italic-VariableFont_opsz_wght.woff);
}


/* Collection name: Colors */
/* Mode: Mode 1 */
:root {
  --primary-00: #ff9100;
  --secondary-00: #03045e;
  --primary-dark-10: #e85d04;
  --primary-dark-20: #cd3700;
  --primary-dark-30: #b40500;
  --primary-dark-40: #9c0000;
  --primary-light-10: #ffa522;
  --primary-light-20: #ffb844;
  --primary-light-30: #ffc966;
  --primary-light-40: #ffd988;
  --primary-light-50: #ffe6aa;
  --primary-light-60: #fff2cc;
  --secondary-dark-10: #000841;
  --secondary-dark-20: #00071c;
  --secondary-light-10: #213280;
  --secondary-light-20: #42679e;
  --secondary-light-30: #639eb9;
  --neutral-00: #ebdcd4;
  --neutral-light-10: #eedfd9;
  --neutral-light-20: #f1e2df;
  --neutral-light-30: #f4e6e5;
  --neutral-light-40: #f6eaea;
  --neutral-light-50: #f9f0f1;
  --neutral-light-60: #fcf6f7;
  --neutral-dark-10: #cec0b9;
  --neutral-dark-20: #b1a49e;
  --neutral-dark-30: #948884;
  --neutral-dark-40: #766c69;
  --success-00: #94a620;
  --error-00: #e11710;
  --info-00: #0096c7;
  --warning-00: #fcd846;
  --success-light-10: #ced989;
  --success-dark-10: #4d580b;
  --error-dark-10: #780501;
  --error-light-10: #fa8180;
  --warning-light-10: #ffedae;
  --warning-dark-10: #b38700;
  --neutral-dark-50: #4c4645;


/* Text-size styles */
/* base size: typography---inter---body-1 (16px) */
--typography---inter---h1: 2.5rem;
--typography---inter---h2: 1.7rem;
--typography---inter---h3: 1rem;
--typography---inter---h3: 1rem;
--typography---inter---body-1: 1rem;
--typography---inter---body-2: 0.88rem;
--typography---inter---label: 0.88rem;
--typography---inter---caption: 0.75rem;
--typography---inter--italic---h1: 2rem;
--typography---inter--italic---h2: 1.5rem;
--typography---inter--italic---h3: 1.25rem;
--typography---inter--italic---body-1: 1rem;
--typography---inter--italic---body-2: 0.88rem;
--typography---inter--italic---label: 0.88rem;
--typography---inter--italic---caption: 0.75rem;

/* Effect styles */
--soft:  0px 2px 2px rgba(118, 108, 105, 0.15);
--medium:  0px 3px 3px rgba(118, 108, 105, 0.25);
--strong:  0px 5px 5px rgba(118, 108, 105, 0.25);
--soft-secondary:  0px 2px 2px rgba(0, 0, 0, 0.25);
--medium-secondary:  0px 3px 3px rgba(0, 0, 0, 0.25);
--dark-secondary:  0px 5px 5px rgba(0, 0, 0, 0.25);

/* Gradients */
--degradado: linear-gradient(222deg, #FF9100 4.58%, #E85D04 100%);
--degradado-secondary: var(--gradientSoft, linear-gradient(124deg, var(--neutral-light-60, #FCF6F7) 40.15%, var(--neutral-00, #EBDCD4) 72.19%, var(--neutral-light-30, #F4E6E5) 72.19%, var(--neutral-00, #EBDCD4) 90.64%));

/* Transparent Colors */

--neutral--transparent: oklch(0.8174 0.0186 48.48 / 50%);

/* espacios */
--altura-nav: 83px;

}
/* ------------------ capa Defaults -------------- */
@layer defaults {
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
  body {
    font-family: "Inter";
    color: var(--secondary-dark-10);
}

h1 {
    font-size: var(--typography---inter---h1);
    font-weight: 900;
}

h2 {
    color: var(--primary-dark-20);
    font-size: var(--typography---inter---h2);
    font-weight: 700;
}

h3 {
  font-size: var(--typography---inter--italic---h3);
  color: var(--secondary-00);
  font-weight: 700;
}

a:link, a:visited {
  text-decoration: none;
  color: var(--secondary-00);
}

a:hover {
  color: var(--primary-dark-10);
}

.checkboxLabel {
  display: flex;
  flex-direction: row-reverse;
}

section[id] {
  scroll-margin-top: var(--altura-nav);
}

}



@layer components {

  button {
    @layer elements {
    border-radius: 20px;
    border: 0px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    background-color: var(--neutral-00);
    color: var(--secondary-dark-10);
    }
    @layer states {
      &:where(:hover, :focus-visible) {
        background-color: var(--primary-light-20);
      }
    }
}

button.cta { 
    margin: 5px 100px;
    }

  input {
    @layer elements {
    border-radius: 20px;
    border: 1px solid var(--neutral-dark-30);
    padding: 10px;
    margin: 5px;
  }
    @layer states {
       &:where(:hover, :focus-visible) {
     border: 1px solid var(--primary-dark-10);
  }
    }
 
}
}

#container {
    background-color: #fff;
}

/*----------------------Top Bar --------------------*/
.topNavigation {
    position: sticky;
    top: 0;
    right: 0; 
    background-color: var(--neutral-light-60);
  width: 100%;
  display: grid;
    grid:
    "marca" 1fr
    "navegacion" 1fr
    / 1fr;
  gap: 8px;
  box-shadow: var(--strong);
}

.marca { grid-area: marca; }
.navegacion { grid-area: navegacion; }

.marca img {
    width: 100%;
    object-fit: contain;
    align-content: center;
}

#cabecera {
  z-index: 99;
}

#cabecera header {
    width: 100%;
    height:100%;
    padding: 20px;
}
#cabecera nav {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    height: 100%;
    gap: 20px;
    font-size: var(--typography---inter--italic---body-1);
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
}

 button.primary {
    background: var(--primary-00);
} 

 button.primary:hover {
    background: var(--primary-light-20);
} 

.botones {
    display: flex;
}
/*----------------------Hero --------------------*/
#hero {
    background: var(--degradado);
   width: 100%;
}

div.imagen img {
    width: 100%;
    height: 450px;
    object-fit: contain;
}

#hero .texto {
  background: none;
}

#hero .texto img {
  width: 150px;
}

#hero .texto img:hover {
  filter: invert();
}

.layout {
  display: grid;
  grid-template-columns:
    repeat(12, 1fr);
   grid-template-rows:
    repeat(12, 1fr); 
}


.texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    grid-row: 2 / 6; 
    grid-column: 2 / 12;
  }
  .imagen {
    grid-row: 6 / 12; 
    grid-column: 2 / 12;
  } 

/*----------------------Funcionalidades --------------------*/
#funcionalidades {
    background-color: var(--primary-light-60);
}
.funcionalidades {
  width: 100%;

  display: grid;
  grid:
    "img" 1fr
    "tit" 129px
    "cards" 1fr;
  gap: 8px;
}

.img { 
  width: 100%;
  height: auto;
  grid-area: img; }
.tit { 
  width: 100%;
  height: 100%;
  grid-area: tit; }
.cards { 
  width: 100%;
  height: 100%;
  grid-area: cards;
  padding: 2rem; 
  align-items: center;
  justify-content: center;}

.funcionalidades div.tit h2 {
    padding: 2rem 2rem 0.5rem 2rem;
    text-align: center;
}
.funcionalidades div.tit p {
  padding: 0.5rem 2rem 1rem 2rem;
  text-align: center;
}
/* cards */
.card {
display: inline-flex;
width: 19rem;
padding: 1.20rem;
align-items: flex-start;
margin: auto;
font-size: var(--typography---inter---body-2);

border-radius: 1.25rem;
border: 1px solid var(--neutral-dark-10);
background: var(--neutral--transparent);
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
backdrop-filter: blur(3px);
}

.card img {
  width: 5rem;
}
.card1 {
  transform: rotate(-10deg);
}
.card3 {
  transform: rotate(10deg);
}

#registro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  text-align: center;
  padding: 5rem;
}

#fav {
    position: fixed;
    bottom: 40px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-00);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-decoration: none;
    box-shadow: 0px 0px 10px grey;
    color: white;
}

#fav:hover {
    color: white;
    background-color: var(--secondary-light-20);
}

#fav:active {
    color: white;
    background-color: var(--primary-light-20)
}

/* ----------------Formulario ---------------*/
#registro {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
/* -----------------Descarga la app ------------*/


.cta-download {
    background-color: var(--neutral-light-30);
    padding: 60px 20px;
    text-align: center;
}


.store-buttons {
    display: flex; 
    justify-content: center; 
    gap: 20px; 
    margin-top: 30px;
}

.store-link img {
    height: 50px; 
    width: auto;
    transition: transform 0.2s; 
}

.store-link img:hover {
    transform: translateY(-3px); 
    opacity: 0.9;
}

/* ---------------------Footer ---------------------*/

footer {
    background-color: var(--secondary-dark-10);
    color: var(--neutral-light-60);
    padding: 40px 20px;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 30px;
    /* Estructura para móvil: apilado */
    grid-template-columns: 1fr; 
}

/* Títulos de columna */
footer h3 {
    color: var(--primary-light-10);
    font-size: var(--typography---inter---body-1);
    font-weight: 700;
    margin-bottom: 15px;
}

/* Estilos de la marca/logo */
.footer-brand img {
    max-width: 150px; 
    margin-bottom: 10px;
}

.copyright {
    font-size: var(--typography---inter---caption);
    color: var(--neutral-dark-10);
}

/* Listas de navegación */
.footer-nav-col ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

.footer-nav-col a:link, .footer-nav-col a:visited {
    color: var(--neutral-light-30);
    text-decoration: none;
    font-size: var(--typography---inter---body-2);
    display: block; 
    padding: 3px 0;
}

.footer-nav-col a:hover {
    color: var(--primary-light-20); 
}


/* -------------------Animaciones  -------------*/

@keyframes entryAlpha {
  from {
    opacity:0;
  }

  to {
    opacity:1;
  }
}

.entryAlphaAnim {
  view-timeline-name: --entryAnim;
  view-timeline-axis: block;

  animation-timeline: --entryAnim;
  animation-name: entryAlpha;

  animation-range: entry 25% cover 70%;
  animation-fill-mode: both;
}

@keyframes entryLeft {
  from {
    transform: translateX(-200%);
  }

  to {
    transform: translateX(0);
  }
}

.entryLeftAnim {
  view-timeline-name: --entryAnim;
  view-timeline-axis: block;

  animation-timeline: --entryAnim;
  animation-name: entryLeft;

  animation-range: entry 0% cover 50%;
  animation-fill-mode: both;
}

@keyframes entryRight {
  from {
    transform: translateX(300%);
  }

  to {
    transform: translateX(0);
  }
}

.entryRightAnim {
  view-timeline-name: --entryAnim;
  view-timeline-axis: block;

  animation-timeline: --entryAnim;
  animation-name: entryRight;

  animation-range: entry 0% cover 20%;
  animation-fill-mode: both;
}

@keyframes entryCard01 {
  from {
    transform: rotate(0deg);
    margin-bottom: 2rem;
  }

  to {
    transform: rotate(-10deg);
    margin-bottom: 0;
  }
}

.entryCard01Anim {
  animation-name: entryCard01;
  animation-timeline: --entryAnim; 
  animation-range: entry 30% cover 80%;
  animation-fill-mode: both;
}

@keyframes entryCard03 {
  from {
    transform: rotate(0deg);
    margin-top: 2rem;
  }

  to {
    transform: rotate(10deg);
    margin-top: 0;
  }
}

.entryCard03Anim {
  animation-name: entryCard03;
  animation-timeline: --entryAnim; 
  animation-range: entry 30% cover 80%;
  animation-fill-mode: both;
}
  #hero .entryRightAnim {
  view-timeline-name:unset;
  view-timeline-axis:unset;
  animation-timeline:unset;
  animation-name: entryRight;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  }

  #hero .entryLeftAnim {
  view-timeline-name:unset;
  view-timeline-axis:unset;
  animation-timeline:unset;
  animation-name: entryLeft;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  }

/*----------------------Media Query --------------------*/

@media (max-width: 600px) {
    .store-buttons {
        flex-direction: column; /* Apila los botones verticalmente en pantallas pequeñas */
        align-items: center;
    }
}


@media (min-width: 640px) { 
  .topNavigation {
    grid:
    "marca navegacion" 1fr
    / 172px 1fr;
  gap: 8px;
}
#cabecera nav {
  flex-direction: row;
  justify-content: flex-end;
}
nav ul {
    flex-direction: row;
}
  .texto {
  grid-row: 2 / 12; 
  grid-column: 2 / 6;
}
.imagen {
  grid-row: 2 / 12; 
  grid-column: 7 / 11;
} 

}

@media (min-width: 768px) { 
  .texto {
  grid-row: 2 / 12; 
  grid-column: 2 / 6;
}
.imagen {
  grid-row: 2 / 12; 
  grid-column: 6 / 12;
} 
nav ul {
    flex-direction: row;
}
.funcionalidades {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid:
    "img tit" 129px
    "img cards" 1fr
    / 1fr 1fr;
}

.img { grid-area: img; }
.tit { grid-area: tit; }
.cards { 
  grid-area: cards;
  display: flex;
  flex-direction: column;
  width: 25rem;
  margin: auto;
  height: auto;
  padding: 2rem; 
  align-items: center;
  justify-content: center;}

  .funcionalidades .img {
    width: auto;
    max-height: 40rem;
    margin: auto;
  }
  .footer-container {
        grid-template-columns: 1.5fr repeat(3, 1fr); 
        text-align: left;
    }
}


@media (min-width: 1024px) { 
  .texto {
  grid-row: 2 / 12; 
  grid-column: 3 / 7;
}
.imagen {
  grid-row: 2 / 12; 
  grid-column: 7 / 11;
} 
nav ul {
    flex-direction: row;
}
.cards { 
  width: 30rem;
}

}

@media (min-width: 1440px) {

  .funcionalidades {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid:
    "img tit" 129px
    "img cards" 1fr
    / 1fr 1fr;
  }

.img { grid-area: img; }
.tit { grid-area: tit; }
.cards { 
  grid-area: cards;
  width: 30rem;
  margin: auto;
  height: auto;
  padding: 2rem; 
  align-items: center;
  justify-content: center;
}

#funcionalidades .entryRightAnim {
  view-timeline-name:unset;
  view-timeline-axis:unset;
  animation-timeline:unset;
  animation-name: entryRight;
  animation-delay: 1s;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}
#funcionalidades .entryLeftAnim {
  view-timeline-name:unset;
  view-timeline-axis:unset;
  animation-timeline:unset;
  animation-name: entryLeft;
  animation-delay: 1s;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}
.entryCard03Anim {
  animation-name: entryCard03;
  animation-timeline: unset; 
  animation-delay: 1s;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}
.entryCard01Anim {
  animation-name: entryCard01;
  animation-timeline: unset; 
  animation-delay: 1s;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}
}

.card {
  width: 100%;
}
